@import '../styling/breakpoints.scss';
@import '../styling/variables.scss';

.footer {
  background: $dark;
  background: linear-gradient(90deg, $dark 0%, $dark 35%, $sub 100%);
  font-family: Lato;
  font-size: 65%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 2rem;
  @include md {
    text-align: left;
    }
  .left {
    flex: 0 0 25%;
    @include md {
      padding-left: 10px;
    }
  }
  p {
    margin-top: .5rem;
    margin-bottom: 0;
  }
  .rigth {
    @include md {
      padding-left: 0;
    }
  }
}
