<section class="projects">

    <div *ngFor="let project of selected" class="project">
      <div class="project-img">
        <img src="{{project.pic}}" alt="">
      </div>
      <p class="project-name">{{project.name}}</p>
      <p class="project-caption">{{project.capt}}</p>
      <p class="project-desc">{{project.desc}}</p>
      <div class="project-tech">
        <div *ngFor="let item of project.tech"
              class="tech-item">
          <i class={{item}}></i>
      </div>
      </div>
    </div>

</section>



