@import '../styling/breakpoints.scss';
@import '../styling/variables.scss';

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include us {
    flex-direction: column;
  }
  @include iph5 {
    flex-direction: column;
  }
  @include md {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.project {
  flex: 0 0 32%;
  margin: .5%;
  padding: 2%;
}

.project-img {
  display: flex;
  justify-content: center;
  padding: 1%;
  margin-bottom: 1%;
  @include iph5 {
    margin-bottom: 4%;
  }
  img {
    max-height: 200px;
    max-width: 100%;
    @include iph5 {
      max-height: 110px;
    }
    @include md {
      height: 76px;
    }
  }
}

.project-name {
  color: $base;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  height: 10%;
  margin-bottom: 0;
  @include iph5 {
    font-size: 1.2rem;
    letter-spacing: .1em;
  }
  @include md {
    line-height: 1;
    height: 52px;
    margin-bottom: 10px;
  }
}

.project-caption {
  color: $base;
  font-size: .9rem;
  text-align: center;
  @include md {
    line-height: 1;
    height: 28px;
  }
}

.project-desc {
  text-align: justify;
  font-size: 90%;
  height: 25%;
  @include md {
    line-height: 1.1;
    height: 150px;
  }
}

.project-tech {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  .project-tech-items{
    display: flex;
    flex: 0 0 85%;
  }
  .tech-item {
    margin: 1px 4%;
  }
  .project-tech_links {
    display: flex;
    justify-content: flex-end;
    span {
      margin-left: 7px;
      a {
        color: $sub;
      }
    }
  }
}

.projects > *:last-child {
  .project-tech {
    border-bottom: none;
    @include md {
      border-bottom: 1px solid black;
    }
  }
}
