<section class="bio">
  <div class="intro">
    <div class="intro-photo">
      <!-- <img src="../../assets/img/fotodl.png" alt="foto"> -->
      <img src="../../assets/img/pepekoks.jpg" alt="foto">
    </div>
    <h3 class="intro-name">Dominic Lee</h3>
    <p class="intro-title">Frontend Dev at xxx</p>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/dominiklipinski/"
          target="_blank">
          <!-- <i class="icon ion-logo-linkedin"></i> -->
          <!-- <i class="fa fa-linkedin"></i> -->
          <img src="../../assets/logos/linkedinfullround.png" alt="linkedin">
        </a>
      </li>
      <li>
        <a href="https://github.com/codezaur"
          target="_blank">
            <!-- <i class="icon ion-logo-github"></i> -->
          <!-- <i class="fa fa-github"></i> -->
          <img src="../../assets/logos/github.png" alt="github">
        </a>
      </li>
    </ul>
  </div>
  <section class="projects">
    show projects made for: <br>
    <a (click)="switch()"
      href="#"
      [ngClass]="showMe==='money'? 'highlight' : 'normal'"
    >money</a>
    <span (click)="switch()" class="projects-ico">
        <i [ngClass]="showMe==='money'? 'fa fa-chevron-right' : 'fa fa-chevron-left'"></i>
    </span>
    <a (click)="switch()"
      href="#"
      [ngClass]="showMe==='fun'? 'highlight' : 'normal'"
    >fun</a>
  </section>
  <section class="current">
    <p class="exp" (click)="showCurrent()" >current <i
      [className]="currentVisible? 'ion-md-arrow-dropup' : 'ion-md-arrow-dropdown'"></i>
    </p>
    <div *ngIf="currentVisible"  class="current-details">
      <p>from: {{jobs.current.from}} </p>
      <p>{{jobs.current.title}}</p>
      <p class="current-details-section">Frontend:</p>
      <ul *ngFor="let item of jobs.current.frontTech">
        <li>{{item}}</li>
      </ul>
      <ul *ngFor="let item of jobs.current.frontTask">
        <li>{{item}}</li>
      </ul>
      <p class="current-details-section">Backend:</p>
      <ul *ngFor="let item of jobs.current.backTech">
        <li>{{item}}</li>
      </ul>
      <ul *ngFor="let item of jobs.current.backTask">
        <li>{{item}}</li>
      </ul>
    </div>
  </section>

  <section class="prev">
    <p class="exp" (click)="showPrev()" >prev <i
      [className]="prevVisible? 'ion-md-arrow-dropup' : 'ion-md-arrow-dropdown'"></i>
    </p>
    <div *ngIf="prevVisible" class="prev-details">
      <div class="prev-details-item">
        <p>from: {{jobs.prev.from}}</p>
        <p>{{jobs.prev.title}}</p>
        <ul *ngFor="let item of jobs.prev.tech">
          <li>{{item}}</li>
        </ul>
        <ul *ngFor="let item of jobs.prev.task">
          <li>{{item}}</li>
        </ul>
      </div>
    </div>
    <div *ngIf="prevVisible" class="prev-details">
        <div class="prev-details-item">
          <p>from: {{jobs.prev01.from}}</p>
          <p>{{jobs.prev01.title}}</p>
          <ul *ngFor="let item of jobs.prev01.task">
            <li>{{item}}</li>
          </ul>
        </div>
    </div>
  </section>
</section>

<section class="biomo">
  <section class="intromo">
    <div class="intromo-photo">
      <!-- <img src="../../assets/img/fotodl.png" alt="foto"> -->
      <img src="../../assets/img/pepekoks.jpg" alt="foto">
    </div>
    <div class=intromo-data>
      <h3 class="intromo-name">Dominic Lee</h3>
      <p class="intromo-title">Fronted Developer at xxx</p>
    </div>
    <ul class=intromo-links>
      <li>
        <a href="https://www.linkedin.com/in/dominiklipinski/"
          target="_blank">
          <img src="../../assets/logos/linkedinfullround.png" alt="linkedin">
        </a>
      </li>
      <li>
        <a href="https://github.com/codezaur"
          target="_blank">
          <img src="../../assets/logos/github.png" alt="github">
        </a>
      </li>
    </ul>
  </section>
  <section class="projectsmo">
      show things made for:
    <a (click)="switch()"
        href="#"
        [ngClass]="showMe==='money'? 'highlight' : 'normal'"
        >money</a>
    <span class="projectsmo-ico">
      <i [ngClass]="showMe==='money'? 'fa fa-chevron-right' : 'fa fa-chevron-left'"></i>
    </span>
    <a (click)="switch()"
    href="#"
    [ngClass]="showMe==='fun'? 'highlight' : 'normal'"
    >fun</a>
  </section>
</section>
