@import '../styling/breakpoints.scss';

.bio {
  display: flex;
  flex-direction: column;
  font-size: 80%;
  padding-left: 2.5%;
  @include iph5 {
    display: none;
  }

}

.biomo {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    margin-bottom: 6%;
    @include sm {
      display: none;
    }
}

// ---- INTRO ----

.intro {
  flex: 0 0 20%;
  img {
    height: 100px;
    margin: 15% auto 2%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }

  ul {
    list-style: none;
    li {
      display: inline-block;
      cursor: pointer;
      margin: 0 5%;
      a {
        text-decoration: none;
        color: grey;
        i {
          font-size: 120%;
        }
      }
    }
  }
}

.intro-name {
  text-align: center
}

.intro-title {
  text-align: center
}

.intromo {
  display: flex;
  flex-direction: row;
  .intromo-photo {
    margin: 0 1% 0 3%;
    img {
      height: 50px;
      border-radius: 50%;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
    }
  }
  .intromo-data {
    padding: 0 3%;
    line-height: .9;
  }
  .intromo-name {
    text-align: left;
    font-size: 100%;
  }
  .intromo-title {
    text-align: left;
    font-size: 87%;
  }
  ul {
    list-style: none;
      a {
        text-decoration: none;
        color: grey;
      }
  }
}

// ---- PROJECTS ----
.projects {
  a {
    text-decoration: none;
    color: darkblue;
    margin: 0 5%;
  }
  .projects-ico {
    cursor: pointer;
  }
}

.projectsmo {
  padding: 0 3%;
  font-size: 90%;
  a {
    margin: 0 5px;
    text-decoration: none;
  }
}

.highlight {
  font-weight: 900;
  font-size: 110%;
  color: darkblue;
}

.normal {
  font-weight: 300;
  font-size: inherit;
  color: black;
}

// ---- EXPERIENCE ----
.exp {
  cursor: pointer;
  i {
    color: red;
    float: right;
    margin-right: 15%;
    font-size: 120%;
  }
}
