@import '../styling/breakpoints.scss';
@import '../styling/variables.scss';

.bio {
  display: flex;
  flex-direction: column;
  font-size: 80%;
  padding-left: 2.5%;
  background-color: $dark;
  height: 100%;
  color: white;
  font-weight: 300;
  @include us {
    display: none;
  }
  @include iph5 {
    display: none;
  }
  @include sm {
    display: none;
  }
  @include md {
    display: flex;
  }
}

.biomo {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    margin-bottom: 6%;
    background-color: $dark;
    opacity: 1;
    color: white;
    @include md {
      display: none;
    }
}

// ---- INTRO ----

.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  .intro-photo {
    margin-bottom: 1rem;
    display: flex;
  }
  img {
    height: 100px;
    margin: 15% auto 2%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);

  }
  .intro-name {
    text-align: center;
    font-size: 1.5rem;
  }

  .intro-title {
    text-align: center;
    font-weight: 200;
  }

  .intro-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    li {
      cursor: pointer;
      margin: 0 15% 0 15%;
      a {
        text-decoration: none;
        img {
          height: 18px;
          width: auto;
          -webkit-filter: invert(89%) sepia(6%) saturate(310%) hue-rotate(136deg) brightness(91%) contrast(89%);
          filter: invert(89%) sepia(6%) saturate(310%) hue-rotate(136deg) brightness(91%) contrast(89%);
        }
        img:hover {
          -webkit-filter: invert(100%) sepia(0%) saturate(7433%) hue-rotate(11deg) brightness(94%) contrast(100%);
          filter: invert(100%) sepia(0%) saturate(7433%) hue-rotate(11deg) brightness(94%) contrast(100%);
          box-shadow: 0 0 15px 5px black;
        }
      }
    }
  }
}

.intromo {
  display: flex;
  flex-direction: row;
  .intromo-photo {
    margin: 0 1% 0 3%;
    img {
      height: 50px;
      border-radius: 50%;
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
    }
  }
  .intromo-data {
    flex: 0 0 60%;
    padding: 0 3%;
    line-height: .9;
    @include sm {
      flex: 0 0 70%;
    }
  }
  .intromo-name {
    text-align: left;
    font-size: 100%;
    letter-spacing: .1em;
  }
  .intromo-title {
    text-align: left;
    font-size: 87%;
  }

  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: $cream;
        img {
          height: 18px;
          width: auto;
          -webkit-filter: invert(89%) sepia(6%) saturate(310%) hue-rotate(136deg) brightness(91%) contrast(89%);
          filter: invert(89%) sepia(6%) saturate(310%) hue-rotate(136deg) brightness(91%) contrast(89%);
        }
      }
    }
}

// ---- PROJECTS ----
.projects {
  margin-bottom: 2rem;
  a {
    text-decoration: none;
    color: white;
    margin: 0 5% 0 0;
  }
  .projects-ico {
    cursor: pointer;
    margin-right: 5%;
  }
}

.projectsmo {
  padding: 0 3%;
  font-size: 90%;
  a {
    margin: 0 5px;
    text-decoration: none;
    color: white;
  }
}

.highlight {
  font-weight: 900;
  font-size: 140%;
  color: darkblue;
}

.normal {
  font-weight: 300;
  font-size: inherit;
  color: black;
}

// ---- EXPERIENCE ----
.exp {
  cursor: pointer;
  font-weight: 300;
  i {
    color: white;
    float: right;
    margin-right: 15%;
    font-size: 120%;
  }
}

.current-details {
  ul {
    @include md {
    padding: 0 5px 0 20px;
    margin-bottom: 5px;
    }
  }
  p {
    @include md {
    margin-bottom: 5px;
    }
  }
}

.current-details-section {
  @include md {
  margin-bottom: 7px;
  padding-left: 10px;
  }
}

.prev-details {
  ul {
    @include md {
    padding: 0 5px 0 20px;
    margin-bottom: 5px;
    }
  }
  p {
    @include md {
    margin-bottom: 5px;
    }
  }
}

.prev-details:not(:last-child){
  @include md {
    margin-bottom: 15px;
    }
}

.stack-details {
  ul {
    @include md {
    padding: 0 5px 0 20px;
    margin-bottom: 5px;
    }
  }
  p {
    @include md {
    margin-bottom: 5px;
    }
  }
}
