
/* iPhone 5, 5S, 5C and 5SE  Portrait and Landscape */
$screen-iph5-min: 320px;

/* Small tablets and large smartphones (landscape view) */
$screen-sm-min: 576px;

/* Small tablets (portrait view) */
$screen-md-min: 768px;

/* Tablets and small desktops */
$screen-lg-min: 992px;

/* Large tablets and desktops */
$screen-xl-min: 1200px;

$screen-xxl-min: 1919px;

/* mobile */
// @mixin iph5 {
//   @media(min-width: #{$screen-iph5-min})
//   and (-webkit-min-device-pixel-ratio: 2) {
//     @content;
//   }
// }
@mixin iph5 {
  @media(min-width: #{$screen-iph5-min}) {
    @content;
  }
}

/* Ultra small devices */
@mixin us {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

/* Small devices */
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }

 /* Medium devices */
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }

 /* Large devices */
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }

 /* Extra large devices */
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

/* 1920 px width */
  @mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
 }
