@import '../styling/breakpoints.scss';
@import '../styling/variables.scss';

.display {
  height: 100vh;
}
main {
  display: flex;
  font-family: 'Lato';
  @include us {
    flex-direction: column;
  }
  @include iph5 {
    flex-direction: column;
  }
  @include md {
    flex-direction: row;
    height: 95%;
  }
}

app-bio {
  flex: 0 0 17%;
  //border-right: 1px solid black;
  @include us {
    position: sticky;
    top: 0;
  }
  @include iph5 {
    position: sticky;
    top: 0;
  }
  @include sm {
    position: sticky;
    top: 0;
  }
  @include md {
    flex: 0 0 25%;
  }
}

app-footer {
  // @include iph5 {
  //   width: 80%;
  // }
  @include md {
    height: 6%;
  }
}
